header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    background-color: rgba(240, 40, 3, 0.7);
    border: 2px solid;
    border-color: red;
    height: 50px;
    display: none;
    /* display: flex; change to flex if needed via JS*/ 
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.customUpload {
    border: 1px solid;
    background-color: #333;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}