body {
    background-image: url("../assets/images/Screenshot\,\ need\ a\ higher\ res\ version\ probs.png"); 
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1440px 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    height: 970px;
}

.content {
    background-image: url("../assets/images/Glass\ Backdrop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1300px 875px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 50px;
    padding: 25px 0 0 0;
    height: 100%;
    width: 1300px;
}

.content > header {
    align-self: center;
}

main {
    color: white;
    padding: 0px 0px 0 75px ;
    width: 90%
}

.descriptionDiv{
    display: flex;
    flex-direction: column;
}

.descriptionDiv > h4{
    margin: 0px;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
}

.steps {
    background-image: url("../assets/images/How\ to\ Box.png");
    background-repeat: no-repeat;
    background-size: 220px 160px;
    display: grid;
    grid-template-rows: [start] 10px [middle] auto [third] 10px [end];
    height: 160px;
    width: 220px;
    padding: 5px 25px 25px 10px;
    overflow-wrap: normal;
}

.boldStep > p, .exampleStep > p {
    margin: 5px 0;
    text-align: center;
}

.exampleStep > p {
    margin-top: 20px;
}

.number {
    align-self: flex-start;
}

.boldStep {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: small;
    flex-direction: column;
}

.exampleStep {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.uploadStep {
    display: grid;
    grid-template-rows: [start] 80px [middle] auto [end];
    grid-row: middle / end;
    justify-self: center;
} 

input[type="file"] {
    display: none;
}

.customUpload {
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(240, 40, 3, 0);
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 25px;
    width: 130px;
    text-align: center;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h4 {
    margin: 0;
}

.viewDownloads{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}

.view {
    background-image: url("../assets/images/View\ List\ rectangle.png");
    background-repeat: no-repeat;
    background-size: 1155px 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 40px;
}

.view > h2 {
    padding-left: 20px;
}

.downloadAll, .downloadAll:hover {
    height: 40px;
    width: 200px;
    color: white;
    background-color: #71a82a;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.downloadAll > h3 {
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mentions {
    align-self: flex-end;
    font-size: small;
}

#browserAlert {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}